.nav {
    background-color: rgb(55, 63, 71);
    max-width: 100%;
}
#nav1 {
    display: flex;
    justify-content: center;
    min-width: 50%;
    margin: 0 auto;
}
.nav-title {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.nav-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
}
li {
    margin: auto 0;
}
.navbarlink {
    color: rgba(245, 245, 245, 0.753);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
#navleft {
    display: flex;
}
#last {
    padding-right: 240px;
}
)
#active {
    color: white;
}
.btn {
    background-color: cyan;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    border: 3px solid black;
    box-shadow: black 2px 2px 1px;
    padding: 5px 10px;
    font-size: 15px;
}
#blue {
    background-color: rgb(0, 160, 160);
    height: 120px;
    margin: auto;
}
#location {
    display: inline;
    margin-left: 5px;
}
#white {
    border: rgba(87, 87, 87, 0.397) 3px solid;
    margin: auto;
    height: 260px;
    min-height: 260px;
}
#picture {
    width: 100px;
    height: auto;
    top: 70px;
    left: 30px;
}
#map {
    width: 15px;
    height: auto;
}
#gear {
    width: 15px;
    height: auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.PPpositionSub {
    position: relative;
    left: 20px;
    top: 30px;
}
.contop {
    background-color: slategray;
    border: 3px solid rgba(87, 87, 87, 0.397);
    height: 50px;
    margin: auto;
    display: flex;
}
.conmaina {
    border: rgba(87, 87, 87, 0.397) 3px solid;
    margin: auto;
    display: block;
}
#connectionb {
    position: relative;
    top: 40px;
}
.conmainb {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
}
.friends {
    text-align: left;
    list-style-type: none;
}
#confoot {
    border-top: rgba(87, 87, 87, 0.397) 3px solid;
    margin: auto;
    height: auto;
    padding: 20px;
}
#education {
    position: relative;
    top: 40px;
}
.edumain {
    border: rgba(87, 87, 87, 0.397) 3px solid;
    margin: auto;
    height: 170px;
}
.edumaintext {
    padding-left: 15px;
    padding-right: 25px;
}
#edutop {
    background-color: slategray;
    border: 3px solid rgba(87, 87, 87, 0.397);
    height: 50px;
    margin: auto;
}
.edunav, .conreq {
    margin-top: 10px;
    padding-left: 15px;
}
.conreq {
    padding-right: 10px;
}
#body2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#leftside {
    padding-right: 20px;
}
#rightside {
    padding-left: 20px;
}
#todd, #adrien, #anne, #alayne, #arry {
    display: flex;
    position: relative;
    padding: 10px;
}
.users {
    width: 60px;
    height: 60px;
    padding-right: 5px;
}
.buttonsa {
    width: 40px;
    height: 40px;
    position: relative;
    left: 20px;
    padding: 0 5px 0 5px;
    top: 10px;
}
#phil {
    display: flex;
    position: relative;
    padding: 0 10px 10px 10px;
}
.buttonsb {
    width: 40px;
    height: 40px;
    position: relative;
    left: 28px;
    top: 10px;
    padding: 0 5px 0 5px;
}
.name {
    position: inherit;
    top: 5px;
}